@{
    ViewBag.Title = "Home";
}

<h2>Welcome, @Session["LoggedUserName"]!</h2>

@if (ViewBag.RoleID == "1") // Admin
{
    <p>Your role: <strong>Admin</strong></p>
    <p>As an System Administrator, you can manage (create, update, and delete) users, including system administrators, doctors, and nurses.</p>
    <a href="@Url.Action("ManageUsers", "Admin")" class="btn btn-primary">Manage Users</a>
}
else if (ViewBag.RoleID == "2") // Doctor
{
    <p>Your role: <strong>Doctor</strong></p>
    <p>As a Doctor, you can manage patient records and assignments.</p>
    <a href="@Url.Action("ManagePatient", "Patient")" class="btn btn-primary">Manage Patients</a>
    <a href="@Url.Action("AssignPatient", "Patient")" class="btn btn-primary">Assign Patient</a>
    <a href="@Url.Action("DisplayPalette", "Document")" class="btn btn-primary">Display Palette</a>
    <a href="@Url.Action("MyBoard", "Patient")" class="btn btn-primary">Display MyBoard</a>
}
else if (ViewBag.RoleID == "3") // Nurse
{
    <p>Your role: <strong>Nurse</strong></p>
    <p>As a Nurse, you can manage patient tasks and view assigned work.</p>
    <a href="@Url.Action("ManagePatient", "Patient")" class="btn btn-primary">Manage Patients</a>
    <a href="@Url.Action("AssignPatient", "Patient")" class="btn btn-primary">Assign Patient</a>
    <a href="@Url.Action("DisplayPalette", "Document" )" class="btn btn-primary">Display Palette</a>
    <a href="@Url.Action("MyBoard", "Patient")" class="btn btn-primary">Display MyBoard</a>
}
else
{
    <p>Your role is not defined. Please contact the administrator.</p>
}
